:root{
    ----primercolor: black;
    ----segundocolor: #41a6de;
    ----tercercolor: #fedb0e;
    ----cuartocolor: #f6343c;
    ----quintocolor: #d01e00;
}
*{
    font-family: "Bangers";
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
lista-heroes{
    display: grid;
    grid-template-columns: repeat(4,25%);}