:root{
    ----primercolor: #2c2c2c;
    ----segundocolor:#41a6de;
    ----tercercolor: #fedb0e;
    ----cuartocolor: #f6343c;
    ----quintocolor: #d01e00;
}
*{
    font-family: "Bangers";
}
body{
    background:
    linear-gradient(rgba(255, 255, 255, 0.7),rgb(255, 255, 255,0.7)),url(/img/fondo.jpg);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
lista-heroes{
    display: grid;
    grid-template-columns: repeat(4,25%);
}
.swal2-title{
    margin-top: -2rem;
    text-shadow: 2px 2px 4px var(----cuartocolor);
    font-weight: 100;
    font-size: 3rem;
}
.swal2-html-container{
    color: black;
    text-shadow: 2px 2px 3px white;
}
.swal2-image{
    border-radius: 1rem;
    max-width: 90%;
    max-height: 90%;
}
.swal2-actions{
    button{
        background-color: var(----tercercolor);
        border: 2px solid var(----primercolor);
        color: var(----cuartocolor);
        text-shadow: 1px 1px 2px var(----primercolor);
        font-size: 1.6rem;
    }
}
@media(max-width:768px) {
    lista-heroes{
        display: block;
    }
}
@media(max-width:1180px) and (min-width:768px) {
    lista-heroes{
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
}